<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Include Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <style>
        #tweetTable {
          width: 1100px;
          table-layout: fixed;
          border-collapse: collapse;
        }
        #tweetTable tbody {
          display: block;
          width: 100%;
          overflow: auto;
          height: 400px;
        }
        
        #tweetTable thead tr {
          display: block;
        

        }
        #tweetTable th,
        #tweetTable td {
            padding: 5px;
            text-align: left;
            width: 1100px;
        }
        .navbar {
            background-color: #76b4f2;
        }
        .navbar-nav {
            flex-direction: row;
        }
        .nav-item {
            margin-left: 20px;
        }
        .nav-link {
            font-size: 1.1rem;
            font-weight: 500;
            color: #007bff;
        }
        .nav-link:hover {
            color: #0056b3;
        }
        .nav-link.active {
            color: #0056b3;
        }
        .sentiment-box-negative {
            background-color: rgba(54, 162, 235, 0.2);
            border-color: rgba(54, 162, 235, 1);
            color: rgba(54, 162, 235, 1);
        }
        .sentiment-box-irrelevant {
            background-color: rgba(75, 192, 192, 0.2);
            border-color: rgba(75, 192, 192, 1);
            color: rgba(75, 192, 192, 1);
        }
        .sentiment-box-neutral {
            background-color: rgba(255, 206, 86, 0.2);
            border-color: rgba(255, 206, 86, 1);
            color: rgba(255, 206, 86, 1);
        }
        .sentiment-box-positive {
            background-color: rgba(255, 99, 132, 0.2);
            border-color: rgba(255, 99, 132, 1);
            color: rgba(255, 99, 132, 1);
        }
    </style>

</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:5000/">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project_architecture">Project Architecture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
         <!-- Sentiment Count Boxes -->
    <div class="row">
        <div class="col-md-3">
            <div class="card text-black sentiment-box-positive mb-3">
                <div class="card-header">Positive</div>
                <div class="card-body">
                    <h5 class="card-title" id="positiveCount">0</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black sentiment-box-negative mb-3">
                <div class="card-header">Negative</div>
                <div class="card-body">
                    <h5 class="card-title" id="negativeCount">0</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black sentiment-box-neutral mb-3">
                <div class="card-header">Neutral</div>
                <div class="card-body">
                    <h5 class="card-title" id="neutralCount">0</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black sentiment-box-irrelevant mb-3">
                <div class="card-header">Irrelevant</div>
                <div class="card-body">
                    <h5 class="card-title" id="irrelevantCount">0</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Existing dashboard content starts here -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <canvas id="sentimentChart" width="400" height="300"></canvas>
        </div>
        <div class="col-lg-6 col-md-12">
            <canvas id="lineChart" width="400" height="300"></canvas>
        </div>
    </div>
        
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12">
                <canvas id="pieChart" width="400" height="300"></canvas>
            </div>
            <div class="col-lg-6 col-md-12">
                <canvas id="radarChart" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="table-container">
                    <div class="table-body-container">
                        <table id="tweetTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">Tweet ID</th>
                                    <th style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">Entity</th>
                                    <th style="max-width: 500px; overflow: hidden; text-overflow: ellipsis;">Tweet content</th>
                                    <th style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">Predicted Sentiment</th>
                                    <th style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">Accuracy</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Fetch data from Flask endpoint
        function fetchData() {
    fetch('/data')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            let tableBody = document.querySelector('#tweetTable tbody');
            tableBody.innerHTML = '';

            // Sentiment counts
            let sentimentCounts = {
                'Positive': 0,
                'Negative': 0,
                'Neutral': 0,
                'Irrelevant': 0
            };

            data.forEach(tweet => {
                let row = `<tr>
                    <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">${tweet['Tweet_ID']}</td>
                    <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">${tweet['Entity']}</td>
                    <td style="max-width: 500px; overflow: hidden; text-overflow: ellipsis;">${tweet['Tweet_Content']}</td>
                    <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">${tweet['Predicted_Sentiment']}</td>
                    <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;">${tweet['Accuracy']}</td>
                </tr>`;
                tableBody.insertAdjacentHTML('afterbegin', row);

                // Increment sentiment count
                sentimentCounts[tweet['Predicted_Sentiment']]++;
            });

            // Calculate total number of sentiments
            let totalSentiments = sentimentCounts['Positive'] + sentimentCounts['Negative'] + sentimentCounts['Neutral'] + sentimentCounts['Irrelevant'];

            // Calculate percentages
            let negativePercentage = ((sentimentCounts['Negative'] / totalSentiments) * 100).toFixed(2);
            let positivePercentage = ((sentimentCounts['Positive'] / totalSentiments) * 100).toFixed(2);
            let neutralPercentage = ((sentimentCounts['Neutral'] / totalSentiments) * 100).toFixed(2);
            let irrelevantPercentage = ((sentimentCounts['Irrelevant'] / totalSentiments) * 100).toFixed(2);

            // Update sentiment count boxes with count and percentage
            document.getElementById('negativeCount').textContent = `#${sentimentCounts['Negative']} (${negativePercentage}%)`;
            document.getElementById('positiveCount').textContent = `#${sentimentCounts['Positive']} (${positivePercentage}%)`;
            document.getElementById('neutralCount').textContent = `#${sentimentCounts['Neutral']} (${neutralPercentage}%)`;
            document.getElementById('irrelevantCount').textContent = `#${sentimentCounts['Irrelevant']} (${irrelevantPercentage}%)`;

            // Update the charts with the new data
            updateCharts(data);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
            // Handle error gracefully, e.g., display a message to the user
        });
}

        // Function to update all charts
        function updateCharts(data) {
            // Update sentiment chart
            let sentimentsCount = {
                'Positive': 0,
                'Negative': 0,
                'Neutral': 0,
                'Irrelevant': 0
            };

            data.forEach(tweet => {
                sentimentsCount[tweet['Predicted_Sentiment']]++;
            });

            sentimentChart.data.labels = Object.keys(sentimentsCount);
            sentimentChart.data.datasets[0].data = Object.values(sentimentsCount);
            sentimentChart.update();

            // Update line chart
            let labels = data.map(tweet => tweet['Tweet_ID']);
            let accuracies = data.map(tweet => parseFloat(tweet['Accuracy']));

            lineChart.data.labels = labels;
            lineChart.data.datasets[0].data = accuracies;
            lineChart.update();

            // Update pie chart
            pieChart.data.labels = Object.keys(sentimentsCount);
            pieChart.data.datasets[0].data = Object.values(sentimentsCount);
            pieChart.update();

            // Update radar chart
            radarChart.data.labels = ['Positive', 'Negative', 'Neutral', 'Irrelevant'];
            radarChart.data.datasets[0].data = [
                sentimentsCount['Positive'],
                sentimentsCount['Negative'],
                sentimentsCount['Neutral'],
                sentimentsCount['Irrelevant']
            ];
            radarChart.update();
        }

        // Initialize sentiment chart
        var ctx1 = document.getElementById('sentimentChart').getContext('2d');
        var sentimentChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ['Positive', 'Negative', 'Neutral', 'Irrelevant'],
                datasets: [{
                    label: 'Sentiment',
                    data: [0, 0, 0, 0],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        // Initialize line chart
        var ctx2 = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Accuracy',
                    data: [],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: false
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'category',
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        // Initialize pie chart
        var ctx3 = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: [],
                datasets: [{
                    label: 'Sentiment',
                    data: [],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        
        // Initialize radar chart
        var ctx4 = document.getElementById('radarChart').getContext('2d');
        var radarChart = new Chart(ctx4, {
            type: 'radar',
            data: {
                labels: ['Positive', 'Negative', 'Neutral', 'Irrelevant'],
                datasets: [{
                    label: 'Sentiment Distribution',
                    data: [0, 0, 0, 0],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
                }]
            },
            options: {
                scale: {
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Fetch initial data
        fetchData();
        // Update data every 3 seconds
        setInterval(fetchData, 3000);
    </script>
</body>
</html>